.manage-users-container {
    padding: 10px;
    .manage-users-title {
        font-size: 20px;
        font-weight: 700;
    }
    .manage-users-content {
        .btn-add-new-user {
           margin: 15px 0;
          
        }
    }
}
.modal-add-user {
   .image-preview {
        border: 1px dashed #ccc;
        height: 150px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        image{
            max-width: 100%;
            max-height: 100%;
        }
   }
   .label-upload {
       display: flex;
       align-items: center;
       gap: 5px;
       width: fit-content;
       background-color: #eeeeee;
       padding: 3px 10px;
       border-radius: 5px;
       cursor: pointer;
       &:hover {
           background-color: rgb(234, 234, 234);
       }
   }
}